@charset "utf-8";
@font-face{
    font-family:'Mutsuki'; src:url('fonts/Mutsuki.ttf')format("truetype");
    font-family:'Hannari'; src:url('fonts/Hannari.otf')format("opntype");
}
body {
    padding-top: 70px;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header{
    background-color: aqua;
    
}

.headerRight{
    float: right;
    background-color: aquamarine;
    
}

.sideber{
    float: left;
    background-color: darkcyan;
    
}

.contents{
    float: left;
    background-color: aquamarine
}


footer{
    clear: left;
    background-color: aqua;
}

.footerLeft{
    font-family: 'Mutsuki';
    
}

.footerRight{
    font-family: 'Mutsuki';
    
}